
*.pyc
DjangoCRM/__pycache__/urls.cpython-310.pyc
DjangoCRM/__pycache__/settings.cpython-310.pyc
CRM/__pycache__/views.cpython-310.pyc
CRM/__pycache__/urls.cpython-310.pyc
CRM/__pycache__/models.cpython-310.pyc
