.navbar {
    width: 100%;
    background-color: #05314b;
    padding: 40px 25px;
}
body {
    margin: 0;
    width: 100vw;
}


.navitem {
    transition: background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    display: inline;
    list-style-type: none;
    text-decoration: none;
    padding: inherit;
    color: white;
}

.navitem:hover {
    background-color: #1381ff22;
    box-shadow: inset 1px 0px 0px 0px #00c3ffc2, inset -1px 0px 0px 0px #00c3ffc2;
}


.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
}

.flex-container .signupform {
    margin: 20px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    box-shadow: 0px 3px 10px -4px #757575;
}
.flex-container .signupform:focus {
    outline: none;
}


.btn-primary {
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #1381ff;
    width: fit-content;
}


@media screen and (max-width: 1000px){

    form label {
        font-size: 30px;
        text-align: center;
    }
    .navbar {
        padding: 40px 15px;
    }
    .container {
        width: 70%;
        margin: auto;
    }

    .flex-container .signupform {
        padding: 20px;
        font-size: 25px;
    }


    .btn-primary {
        padding: 10px 20px;
        font-size: 20px;
        align-self: center;
    }

    .navitem {
        font-size: 25px;
    }
    .alert {
        position: fixed;
        bottom: 25%;
        margin: auto;        
        padding: 7px 15px;
        background-color: rgb(255, 228, 109);
        font-size: 20px;
        border-radius: 6px;
    }
}

@media screen and (min-width: 1000px){

    form label {
        font-size: 25px;
    }
    .container {
        width: 70%;
        margin: auto;
    }

    .btn-primary {
        padding: 12px 30px;
        font-size: 20px;
        align-self: flex-start;
    }

    .navitem{
        font-size: 20px;
    }
    

    .flex-container .signupform {
        padding: 15px;
        font-size: large;
        margin-left: 0;
    }

    .alert {
        position: absolute;
        bottom: 25%;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 7px 15px;
        background-color: rgb(255, 208, 0);
        font-size: 25px;
        border-radius: 6px;
    }
}


.customers-table {
    display:flex;
    justify-content: center;
    align-items: center;
    justify-self: stretch;
}